@import "@fontsource-variable/roboto";
@import "@fontsource-variable/roboto-mono";

@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: "Roboto Variable", "Roboto", "sans-serif";
  --font-mono: "Roboto Mono Variable", "Roboto Mono", "monospace";
}

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

/* https://alpinejs.dev/directives/cloak */
[x-cloak] {
  display: none !important;
}

.countdown.countdown-digit {
  & > * {
    &:before {
      content: "0\A 1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9\A";
    }
  }
}

.countdown.countdown-sign {
  & > * {
    &:before {
      content: "-\A \A +\A";
      top: calc((var(--value) + 1) * -1em);
    }
  }
}
