---
import "../styles.css";
---

<!doctype html>
<html lang="en" class="size-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Lost Cities Scorecard</title>
  </head>

  <body class="size-full flex flex-col">
    <div class="navbar bg-base-200 shadow-sm">
      <a class="btn btn-ghost text-xl">Lost Cities Scorecard</a>
    </div>

    <div class="overflow-y-auto">
      <slot />
    </div>
  </body>
</html>
